/target
/classes
/checkouts
.idea
*.iml
pom.xml
figwheel_server.log
.DS_Store
*jar
/.lein-env
/checkouts
/.env
pom.xml
out
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
profiles.clj
custom_profiles
resources/public/cljsp
