body {
  /* background-color: green; */
  max-width: 1200px;
  margin: 0 auto;
  background: #eee;
  padding: 20px;
}


header {
  color: darkblue;
}


header h2 {
  margin: 0;
  margin-bottom: 16px;
}
header a {
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

header a:visited {
  text-decoration: underline;
  color: darkblue;
}

div.main {


}

div.side-bar {

}

div.bottom {

}


li.entry {

}

li.entry span.id {
  display: none;
  /* margin-right: 3px; */
}
li.entry h1 , li.entry h2, li.entry h3 {
  font-size: 1em;
  margin-top: 16px;
    margin-bottom: 16px;

  font-weight: normal;
}


li.entry .entry-bottom {
  text-align: right;

}

li.entry .username {
  font-style: italic;
  margin-right: 5px;
}

li.subject {
  cursor: pointer;

}

li.subject:hover {
  text-decoration: underline;
}

form.entry-form {
  width: 100%;
  border: 1px dashed grey;
  padding: 20px;
}
form.entry-form h2 {
  margin-top: 0;
}
form.entry-form input{
  /* width: 400px; */
  width: 100%;
}

form.entry-form textarea{
  /* width: 400px; */
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}

div.login-logout {
  text-align: right;
}

div.login-logout .username {
  margin-right: 10px;

}


#search {
  width: 400px;
  padding: 5px;
}
